<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {{ if .IsHome }}
          {{ .Site.Title }}
        {{ else }}
          {{ .Title }} | {{ .Site.Title }}
        {{ end }}
      </title>
    <meta name="description" content="{{.Site.Params.description}}">
    <link rel="icon" href="/{{ .Site.Params.favicon }}" type="image/png">
    {{ partial "css.html" . }}
</head>
<body class="flex min-h-screen flex-col bg-slate-50 text-slate-900 antialiased">
    {{ partial "header.html" . }}
    <main class="flex-1">
        {{ block "main" . }}{{ end }}
    </main>
    {{ partial "footer.html" . }}
    {{ if .Params.math }} 
        {{ partialCached "math.html" . }}
    {{ end }}
</body>
</html>