@import "tailwindcss";

body {
    background-color: white !important;
}

i {
    font-style: normal;
    @apply font-mono
}

red {
    @apply text-red-500
}

blue {
    @apply text-blue-500
}

cent {
    @apply w-full flex justify-center items-center text-center italic text-gray-500
}

.blog-content {
    @media (max-width: 640px) {
        .highlight {
            max-width: 85vw;
        }
        img {
            max-width: 85vw;
        }
    }
    @media (max-width: 1080px) {
        .highlight {
            max-width: max-content;
        }
    }
    h1 {
        @apply text-4xl font-bold mb-4 mt-12
    }
    h2 {
        @apply text-3xl font-bold mb-4 mt-12
    }
    h3 {
        @apply text-2xl font-bold mb-4 mt-12
    }
    h4 {
        @apply text-xl font-bold mb-4 mt-12
    }
    h5 {
        @apply text-lg font-bold mb-4 mt-12
    }
    ul {
        @apply list-disc list-inside mb-4
    }
    ol {
        @apply list-decimal list-inside mb-4
    }
    ol li::marker {
        @apply font-bold
    }
    blockquote {
        @apply border-l-4 pl-4 italic text-gray-600
    }
    a {
        @apply text-blue-500 hover:text-blue-700 hover:underline 
    }
    pre {
        @apply rounded-md overflow-x-auto whitespace-pre-wrap break-words py-2;
    }
    code:not(pre code) {
        @apply bg-gray-200 text-gray-800 rounded-md px-1 py-0.5
    }
    table {
        @apply border-collapse border border-slate-900 mb-4 p-3
    }
    td, th {
        @apply border border-slate-900 p-3 font-medium
    }
}

a.highlightedLinks {
    @apply text-blue-600 hover:text-blue-800 hover:underline
}