<link rel="stylesheet" href="/fontawesome/css/all.css">
<link rel="stylesheet" href="/fontawesome/css/sharp-solid.css">
<link rel="stylesheet" href="/fontawesome/css/sharp-regular.css">
<link rel="stylesheet" href="/fontawesome/css/sharp-light.css">

{{ $style := resources.Get "css/chroma.css" | resources.Minify | resources.Fingerprint }}
<link rel="stylesheet" href="{{ $style.RelPermalink }}">

{{ $style := resources.Get "css/out.css" | resources.Minify | resources.Fingerprint }}
<link rel="stylesheet" href="{{ $style.RelPermalink }}">